/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// Variables
:root {
  --primary-color: #1a73e8;
  --background-color: #f8f9fa;
  --text-color: #2c3e50;
}

// Import component styles
@import 'components/train-arrival';

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
